*{
  box-sizing: border-box;
}

body{
  --font-color :  #393939 ;
  --font-color-alt : white ;
  --color-accent : #6EAC51; 
  --button-bg : white ;

}


body {
  margin: 0;
  font-family: 'Gluten', cursive;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/forest.jpg');
  background-origin: content-box;
  background-size: cover;
}

button{
  font-family: 'Gluten', cursive;
}